<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ECommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SignUpFilter</display-name>
    <filter-name>SignUpFilter</filter-name>
    <filter-class>com.filter.SignUpFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SignUpFilter</filter-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>com.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductController</display-name>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>com.controller.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/AddProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>com.controller.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyCartServlet</display-name>
    <servlet-name>MyCartServlet</servlet-name>
    <servlet-class>com.controller.MyCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyCartServlet</servlet-name>
    <url-pattern>/MyCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.controller.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>com.controller.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/CheckOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.controller.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>OTPServlet</display-name>
    <servlet-name>OTPServlet</servlet-name>
    <servlet-class>com.controller.OTPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OTPServlet</servlet-name>
    <url-pattern>/OTPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAddressServlet</display-name>
    <servlet-name>AddAddressServlet</servlet-name>
    <servlet-class>com.controller.AddAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAddressServlet</servlet-name>
    <url-pattern>/AddAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAddrress</display-name>
    <servlet-name>FetchAddrress</servlet-name>
    <servlet-class>com.controller.FetchAddrress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAddrress</servlet-name>
    <url-pattern>/FetchAddrress</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayMessageServlet</display-name>
    <servlet-name>DisplayMessageServlet</servlet-name>
    <servlet-class>com.controller.DisplayMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayMessageServlet</servlet-name>
    <url-pattern>/DisplayMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAddrressNew</display-name>
    <servlet-name>FetchAddrressNew</servlet-name>
    <servlet-class>com.controller.FetchAddrressNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAddrressNew</servlet-name>
    <url-pattern>/FetchAddrressNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAddressServlet</display-name>
    <servlet-name>UpdateAddressServlet</servlet-name>
    <servlet-class>com.controller.UpdateAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddressServlet</servlet-name>
    <url-pattern>/UpdateAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePdf</display-name>
    <servlet-name>CreatePdf</servlet-name>
    <servlet-class>com.util.CreatePdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePdf</servlet-name>
    <url-pattern>/CreatePdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDeliveryServlet</display-name>
    <servlet-name>AddDeliveryServlet</servlet-name>
    <servlet-class>com.controller.AddDeliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDeliveryServlet</servlet-name>
    <url-pattern>/AddDeliveryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductController</display-name>
    <servlet-name>AdminProductController</servlet-name>
    <servlet-class>com.controller.AdminProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductController</servlet-name>
    <url-pattern>/AdminProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductAdmin</display-name>
    <servlet-name>DeleteProductAdmin</servlet-name>
    <servlet-class>com.controller.DeleteProductAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductAdmin</servlet-name>
    <url-pattern>/DeleteProductAdmin</url-pattern>
  </servlet-mapping>
</web-app>